.Shop {
    margin-top: 70px;
    position: relative;
}

.Shop-img{
    height: 500px;
    overflow: hidden;
    /* width: 100%; */

}

.Shop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 38%;
}

.Typemid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color:rgb(101, 1, 1);
}

.collec-item {
    margin-top: 250px;
    display:flex;
}

.img-box {
    flex:1 1 380px;
    height: 100%;
    width: 507px;
    overflow: hidden;
}


.img-box img {
    width: 100%;
    height: 100%;    
    object-fit: cover;
    display: block;
}



.text-orm h2{
  position: absolute;
  background-color: rgb(255, 238, 211) ;
  left: 18%;
  transform: translate(-50%, -800%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}


.text-ling h2{
  position: absolute;
  background-color: rgb(255, 238, 211) ;
  left: 50%;
  transform: translate(-50%, -800%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}


.text-char h2{
  position: absolute;
  background-color: rgb(255, 238, 211) ;
  left: 85%;
  transform: translate(-50%, -800%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}



