* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  gap: 300px;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 10px;
  background-color: white;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-family: "Laviossa Semibold", serif;
  font-size: 24px;
  font-weight: 600;
  color:#000000;
  text-decoration: none;
}
.logo span {
  color: grey;
  width: 100%;
}


.menu {
  display: flex;
  gap: 30px;

  text-align: center;
  margin-right: 50px;
}


.menu a {
  text-decoration: none;
  color: #333;
  align-items: center;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;

}


.menu a:hover {
  color: #666;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-color: #8b5e34;
  text-decoration-thickness: 1.5px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .popup,
.popup:hover {
  display: block;
  pointer-events: auto;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}




.popup {
  display: none;
  position: absolute;
  background-color: #fff;
  padding-right: 60px;
  margin-top: 18px;
  font-size: 20px;
  
}


.popup a {
  display: block;
  margin: 8px 0;
  font-size: 12px;
  font-weight: 450;
  text-align: left;
  padding-left: 5px;
  line-height: 1.6;
  color:rgb(151, 124, 88);
  cursor: pointer;
  font-weight: 700px;

}


.popup a:hover {
    text-decoration: underline;
    text-decoration-color: #8b5e34;
    text-underline-offset: 2px;
    color:rgb(151, 124, 88);
}

.icons {
  display: flex;
  gap: 30px;
  font-size: 18px;
  color: #333;
}

.icons a {
    color: #333;
}

.icons i {
  cursor: pointer;
  transition: color 0.3s;
}

.icons i:hover {
  color: #666;
}
